<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head"/>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Message Index</title>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>

<h1>Review Index</h1>

<h3>Here are the users you can review:</h3>

<div th:each="user:${users}">

    <h3>Username:<span th:text="${user.username}"></span></h3>
    /reviews/{producer_id}
    <form class="m-1" th:action="@{'/reviews/' + ${producer.id}}" method="GET">
        <button type="submit" name="writeOneMessage" th:value="${user.id}">Message</button>
    </form>

</div>

<script th:replace="partials :: scripts"/>
</body>
</html>