<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>You are writing a review on : <span th:text="${user.username}"></span></h1>

<form th:method="POST" th:action="@{'/reviews/' +  ${user.getId()}}" th:object="${userReview}">
    <label>
        <textarea name="reviewTitle" th:field="*{reviewTitle}"></textarea>
    </label>

    <label>
        <textarea name="reviewBody" th:field="*{reviewBody}"></textarea>
    </label>
    <button type="submit" class="btn">Submit Review</button>
</form>
<hr>

<!--<h4>Your Review History</h4>-->
<!--<div th:each="message : ${messages}">-->
<!--    <div th:if="${message.sender == loggedInUser && message.receiver == receivingUser}">-->
<!--        <h3 style="color:darkgreen;"><span th:text="${message.content}"></span></h3>-->
<!--        <p class="small">receiver username: <span th:text="${message.receiver.username}"></span></p>-->
<!--        <p class="small">sender username: <span th:text="${message.sender.username}"></span></p>-->
<!--    </div>-->

<!--    <div th:if="${message.sender == receivingUser && message.receiver == loggedInUser}">-->
<!--        <h3 style="color:darkred;"><span th:text="${message.content}"></span></h3>-->
<!--        <p class="small">receiver username: <span th:text="${message.receiver.username}"></span></p>-->
<!--        <p class="small">sender username: <span th:text="${message.sender.username}"></span></p>-->
<!--    </div>-->
<!--</div>-->


</body>
</html>