<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TESTING</title>

    <!--     Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css" th:href="@{/css/navbar.css}">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/homepage.css" th:href="@{/css/homepage.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/writemessage.css" th:href="@{/css/writemessage.css}">
</head>
<body>
<nav th:replace="partials :: navbar-2"/>
<section class="message-title-section">

    <h1 class="message-title">You are sending a message to: <span th:text="${user.username}"></span></h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-md-12 col-lg-12 d-flex justify-content-center">
                <div class="form-group">
                    <form th:method="POST" th:action="@{'/messages/' +  ${user.getId()}}" th:object="${userMessage}">
                        <label>
                            <textarea class="text-area form-control" name="content" th:field="*{content}"></textarea>
                        </label>
                        <button type="submit" class="btn my-btn btn-primary">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
<p>line 45</p>
<div th:each="message : ${messages}">
    <p th:text="${message.sender.username}"></p>
    <p th:text="${message.receiver.username}"></p>
    <p th:text="${message.content}"></p>
</div>


<p>line 67 more message</p>
<div th:each="more : ${moremessages}">
    <p th:text="${more.sender.username}"></p>
    <p th:text="${more.receiver.username}"></p>
    <p th:text="${more.content}"></p>
</div>




</body>
</html>