<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials ::head(pageTitle='My Requests')"></head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="../static/css/myreviews.css" th:href="@{/css/myrequests.css}">
<body>
<nav th:replace="partials :: navbar"></nav>

<div class="container request-container">

    <div class="row">
        <div class="col-lg-6 col-md-12">

            <h1 class="title text-center">Incoming Requests</h1>

            <div class="d-flex flex-column justify-content-center align-items-center" th:each="request : ${requests}">
                <div class="card text-center" th:if="${loggedInUser.username != request.userReq.username  && loggedInUser.username == request.approver1}">
                    <h3 class="card-title">From: <span th:text="${request.userReq.username}"></span><a th:href="@{'/viewPosterProfile/' + ${request.userReq.getId()}}"><img class="profile-icon" th:src="@{${request.userReq.getProfilePhotoImagePath()}}"></a></h3>
                    <div class="card-body text-center">
                        <p class="card-text big-text">Item they are requesting: <span th:text="${request.itemReq.itemName}"></span></p>
                        <p class="card-text">Start Date Requested: <span th:text="${#dates.format(request.beginDate, 'MM-dd-yyyy')}"></span></p>
                        <p class="card-text">Return Date Requested: <span th:text="${#dates.format(request.dueDate, 'MM-dd-yyyy')}"></span></p>
                        <p class="card-text">Requester's Notes: <span th:text="${request.notes}"></span></p>
                        <p class="card-text">Request Status: <span th:text="${request.status}"></span></p>
                    </div>

                    <p class="center-text"> <a th:href="@{/messages/{userId}(userId=${request.userReq.id})}" class="btn btn-success msg-btn">Write a Message</a></p>

                    <div class="row d-flex justify-content-center align-items-center">
                        <form th:action="@{'/myRequests/approve/' + ${request.id}}" th:object="${request}" th:method="post">
                            <button class="btn btn-success d-flex justify-content-center mr-3 mb-3" th:if="${request.status == 'PENDING'}">
                                Approve
                            </button>
                        </form>
                        <div class="d-flex justify-content-center card-text"
                             th:unless="${request.status == 'PENDING' || request.status == 'DECLINED'}">&#x2713; Approved
                        </div>

                        <form th:action="@{'/myRequests/decline/' + ${request.id}}" th:object="${request}" th:method="post">
                            <button class="btn btn-danger d-flex justify-content-center ml-3 mb-3" th:if="${request.status == 'PENDING'}">
                                Decline
                            </button>
                        </form>
                        <div class="d-flex justify-content-center card-text"
                             th:unless="${request.status == 'PENDING' || request.status == 'APPROVED'}">&#x2717; Declined
                        </div>
                    </div>

                </div>
            </div>

        </div>
<div class="col-lg-6 col-md-12">

    <h1 class="title text-center">Outgoing Requests</h1>

    <!--requests that I made to borrow someone else's items-->
    <div class="d-flex flex-column justify-content-center align-items-center" th:each="request : ${requests}">
        <div class="card text-center" th:if="${loggedInUser.username == request.userReq.username  && loggedInUser.username != request.approver1}">
            <!--            <h3 class="card-title">From: <span th:text="${request.userReq.username}"></span></h3>-->
            <h3 class="card-title">To: <span th:text="${request.approver1}"></span><a th:href="@{'/viewPosterProfile/' + ${request.itemReq.user.getId()}}"><img class="profile-icon" th:src="@{${request.itemReq.user.profilePhotoImagePath}}"></a></h3>
            <div class="card-body text-center">
                <p class="big-text">Item requested: <span th:text="${request.itemReq.itemName}"></span></p>
                <p class="card-text">Start Date Requested: <span th:text="${#dates.format(request.beginDate, 'MM-dd-yyyy')}"></span></p>
                <p class="card-text">Return Date Requested: <span th:text="${#dates.format(request.dueDate, 'MM-dd-yyyy')}"></span></p>
                <p class="card-text">Request Status: <span th:text="${request.status}"></span></p>
                <p class="center-text"> <a th:href="@{/messages/{userId}(userId=${request.itemReq.user.id})}" class="btn btn-success msg-btn">Write a Message</a></p>

            </div>

        </div>
    </div>

</div>

</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>