<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="partials::head"/>
    <meta charset="UTF-8">
    <title>My Reviews</title>
    <!--     Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/myreviews.css" th:href="@{/css/myreviews.css}">
</head>
<body>
<nav th:insert="partials :: navbar-2"></nav>

<div class="container card-container-2 d-flex justify-content-center text-center">
<div class="card top-card">
    <div class="card-block">
        <h4 class="card-big-title">Your Review Stats:</h4>
    </div>
    <div class="card-block">
        <p class="card-big-text">Average: <span th:text="${avgRating}"></span></p>
        <p th:if="${avgRating == 5.0}" class="card-text">Excellent Lender<br><br>Tip: Have a party with your neighbors!</p>
        <p th:if="${avgRating == 4.5}" class="card-text">Almost-Excellent Lender<br><br>Tip: If you borrow from others, leave a good rating! They might rate you back!</p>
        <p th:if="${avgRating == 4.0}" class="card-text">Good Lender<br><br>Tip: If you borrow from others, leave a good rating! They might rate you back!</p>
        <p th:if="${avgRating == 3.5}" class="card-text">Almost-Good Lender<br><br>Tip: Use our built-in messaging system and keep good communication between you and your borrower!</p>
        <p th:if="${avgRating == 3.0}" class="card-text">Fair Lender<br><br>Tip: Use our built-in messaging system and keep good communication between you and your borrower!</p>
        <p th:if="${avgRating == 2.5}" class="card-text">Almost-Fair Lender<br><br>Tip: Check out other neighbor's profiles and take some notes! See what makes them a good lender!</p>
        <p th:if="${avgRating == 2.0}" class="card-text">Okay Lender<br><br>Tip: Check out other neighbor's profiles and take some notes! See what makes them a good lender!</p>
        <p th:if="${avgRating == 1.5}" class="card-text">Almost-Okay Lender<br><br>Tip: Make sure you're being honest and open on your lending post! People don't like broken stuff!</p>
        <p th:if="${avgRating == 1.0}" class="card-text">Poor Lender<br><br>Tip: Make sure you're being honest and open on your lending post! People don't like broken stuff!</p>
        <p th:if="${avgRating == 0.5}" class="card-text">Almost-Poor Lender<br><br>Tip: I got nothing, sorry.</p>
    </div>
</div>
</div>

    <div th:each="review : ${user.reviewed}">

        <div class="container card-container">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><img class="profile-icon" th:src="@{${review.consumer.getProfilePhotoImagePath()}}"><span th:text="${review.consumer.username}"></span>: <span th:text="${review.reviewTitle}"></span>

                        <img th:if="${review.rating.rating == 1}" class="star-icons" src="https://i.postimg.cc/sXJsM2Nh/1-star.png">
                        <img th:if="${review.rating.rating == 2}" class="star-icons" src="https://i.postimg.cc/DzBX17Dt/2-star.png">
                        <img th:if="${review.rating.rating == 3}" class="star-icons" src="https://i.postimg.cc/T2HJZJtZ/3-star.png">
                        <img th:if="${review.rating.rating == 4}" class="star-icons" src="https://i.postimg.cc/7YRDGdmm/4-star.png">
                        <img th:if="${review.rating.rating == 5}" class="star-icons" src="https://i.postimg.cc/DZ532MSQ/5-star.png">

                    </h5>
                    <p class="card-text"><span th:text="${review.reviewBody}"></span></p>
                </div>
            </div>
        </div>

    </div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>