<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="partials::head"/>
    <meta charset="UTF-8">
    <title>My Reviews</title>
    <!--     Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/myreviews.css" th:href="@{/css/myreviews.css}">
</head>
<body>
<nav th:insert="partials :: navbar-2"></nav>

<div class="container card-container">
<div class="card">
    <div class="card-body">
        <h5 class="card-title"><img class="profile-icon" src="https://i.redd.it/sfi496f08hg51.png">Special title treatment<img class="star-icons" src="https://www.freepnglogos.com/uploads/star-png/star-vector-png-transparent-image-pngpix-21.png"> </h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
</div>
</div>

<div class="container" style="margin-top: 20px;">
    <h1>Reviews that other people wrote about me:</h1>
    <h1> Your ratings average:<span th:text="${avgRating}"></span></h1>

    <div th:each="review : ${user.reviewed}">
        <h2>Review title: <span th:text="${review.reviewTitle}"></span></h2>
        <p>Review body: <span th:text="${review.reviewBody}"></span></p>
        <p>Rating: <span th:text="${review.rating.rating}"></span></p>
        <p>Written By: <span th:text="${review.consumer.username}"></span></p>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>