<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials ::head(pageTitle='My Requests')"></head>
<body>
<nav th:replace="partials :: navbar"></nav>
<div class="container">
    <<br>
    <h1>Requests that I have received from others</h1>

        <div th:each="request : ${requests}">
            <div th:if="${loggedInUser.username != request.userReq.username  && loggedInUser.username == request.approver1}">
            <p>Username of the Requester: <span th:text="${request.userReq.username}"></span></p>
<!--            <p>Start Date Requested: <span th:text="${#temporals.format(request.beginDate, 'MM-dd-yyyy')}"></span></p>-->
            <p>Start Date Requested: <span th:text="${request.beginDate}"></span></p>
            <p>Return Date Requested: <span th:text="${request.dueDate}"></span></p>
                <p>Item they are requesting: <span th:text="${request.itemReq.itemName}"></span></p>
                <p>Request Status: <span th:text="${request.status}"></span></p>

        </div>
    </div>
</div>
</body>
</html>