<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en-US">
<head th:replace="partials ::head(pageTitle='Poster\'s Profile')"></head>

<body>
<nav th:insert="partials :: navbar"></nav>
<div class="container">
    <!--looping through that user's items-->
<div th:each="userItem: ${userItems}">
    <h2><span th:text="${userItem.itemName}"></span></h2>
    <p>$<span th:text="${userItem.price}"></span> per day</p>
    <img th:src="@{${userItem.photosImagePath}}" style="width: 150px">
</div>

    <!--looping through that user's reviews-->


</div>
</body>


</html>