body {
    background: url("https://i.postimg.cc/mDcZjXg3/viewone-background.png") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.card-container {
    margin-top: 70px;
    margin-bottom: 70px;
}

.card-container-2 {
    margin-top: 130px;
    margin-bottom: 130px;
}

.top-card {
    width: 600px;
    padding: 40px;
}

.card {
    border: none !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-title {
    font-size: 25px;
    font-family: 'Roboto Slab', sans-serif;
}

.card-big-title {
    font-size: 35px;
    font-family: 'Roboto Slab', sans-serif;
}

.card-text {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.card-big-text {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.profile-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}


.star-icons {
    width: 150px;
    height: 150px;
}