/* NAVBAR SECTION */

.navbar-section {
    margin-bottom: 40px;
}

.navbar {
    background-color: #1FC168 !important;
}

.nav-link {
    color: #006366 !important;
    font-family: 'Roboto', serif !important;
}

.nav-link:hover {
    color: black !important;
}

.navbar-logo {
    width: 30px;
    height: 35px;
}

.navbar-icon {
    margin-top: -2px;
    margin-left: 6px;
    width: 30px;
    height: 30px;
}
