
.card-section {
    background-image: url("https://i.postimg.cc/mDcZjXg3/viewone-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.card-1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: none !important;
}

.card-size {
    width: 1400px;
    height: 800px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 50px;
}

.card-image {
    width: 500px;
    margin: 100px 40px 20px;
}

.card-title {
    margin-left: 90px;
    margin-top: 75px;
    font-size: 35px;
    font-family: 'Roboto Slab', sans-serif;
}

.card-mini-text {
    margin-left: 90px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.card-text {
    margin-left: 90px;
    margin-top: 20px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.profile-text {
    margin-left: 90px;
    margin-top: 20px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.profile-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.little-icon-container {
    margin-left: 105px;
    margin-top: 30px;
}

.little-icon {
    width: 120px;
    height: 120px;
}

.icon-text {
    margin-top: -25px;
    margin-left: 8px;
    font-family: 'Roboto', sans-serif;
}

.price-text {
    margin-top: -25px;
    margin-left: 26px;
    font-family: 'Roboto', sans-serif;
}

.my-btn {
    margin-top: -25px;
    margin-right: 40px;
    font-family: 'Roboto Slab', sans-serif;
}

.view-btn {
    margin-left: 90px;
    font-family: 'Roboto Slab', sans-serif;
}

.btn-secondary {
    background-color: #008a4c;
    border: none;
    font-family: 'Roboto Slab', sans-serif;
}

.btn-secondary:hover {
    background-color: #1FC168;
    border: none;
    font-family: 'Roboto Slab', sans-serif;
}

/* MOBILE CARD SECTION */

.card-section-2 {
    background-image: url("https://i.postimg.cc/mDcZjXg3/viewone-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    margin-top: -19px;
}

.hide-on-sm {
    display: none;
}

.mobile-card {
    width: 800px;
    height: 1000px;
}

.card-img-top {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}

.card-title-2 {
    margin-top: 75px;
    font-size: 35px;
    font-family: 'Roboto Slab', sans-serif;
    padding: 20px;
}

.card-text-2 {
    margin-left: 0px;
    margin-top: 20px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.card-size-2 {
    width: 700px;
    height: 830px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 80px;
}

.card-2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: none !important;
}

.cat-btn {
    background-color: #c5ff33 !important;
    color: #006366 !important;
    font-family: 'Roboto', serif !important;
    margin-top: 4px;
    margin-bottom: 4px;
}

.cat-btn-text {
    font-size: 15px;
}

.con-btn {
    background-color: #54e360 !important;
    color: #006366 !important;
    font-family: 'Roboto', serif !important;
    margin-top: 4px;
    margin-bottom: 4px;
}

.zip-btn {
    background-color: #1FC168 !important;
    color: #006366 !important;
    font-family: 'Roboto', serif !important;
    margin-top: 4px;
    margin-bottom: 4px;
}

.my-btn-2 {
    margin-top: 15px;
    font-family: 'Roboto Slab', sans-serif;
}

.cat-icon {
    width: 55px;
    height: 55px;
    margin-left: -7px;
}

/* RESPONSIVENESS */

@media (min-width: 1000px) and (max-width: 1440px) {

    .hide-on-lg {
        display: none;
    }

    .hide-on-sm {
        display: block;
    }

}


