<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">

<body>
<nav th:replace="partials :: navbar"/>
<nav th:replace="partials :: navbar-2"/>
    <h1>Something went wrong.</h1>
    <div>
        <span th:text="${timestamp}"></span>
    </div>
    <div>
        <span th:text="${error}"></span>
        <span th:text="${status}"></span>
    </div>
<script th:replace="partials :: scripts"/>
</body>
</html>



