<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <head th:replace="partials ::head(pageTitle='Share')"></head>
<!--     Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/homepage.css" th:href="@{/css/homepage.css}">


</head>
<body>

<nav th:replace="partials :: navbar"/>
<!--<div class="size-wrapper">-->

<!--    <section class="navbar-section">-->

<!--        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">-->
<!--            <div class="container-fluid">-->
<!--                <a href="#" class="navbar-brand">-->
<!--                    <img class="navbar-logo" src="../static/images/homepage-images/a-logo.png" th:src="@{images/homepage-images/a-logo.png}" alt="CoolBrand">-->
<!--                </a>-->
<!--                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                    <span class="navbar-toggler-icon"></span>-->
<!--                </button>-->
<!--                <div class="collapse navbar-collapse" id="navbarNav">-->
<!--                    <ul class="navbar-nav">-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="#">Home</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="#">About</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="#">Features</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="#">FAQ</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </nav>-->

<!--    </section>-->


<section class="top-section">

    <div class="flex-container img-container">
        <div class="row d-flex justify-content-center">

            <div class="img-wrapper">
                <div class="tnt-back-layer-img"></div>

                <img class="tnt-top-img" src="../static/images/homepage-images/tnt-front-layer.png" th:src="@{images/homepage-images/tnt-front-layer.png}" alt="Homepage">

            </div>
            <div class="img-overlay" th:if="${#authorization.expression('!isAuthenticated()')}">
                <a href="/registerForm" th:action="@{/registerForm}"  areia-hidden="true" class="btn btn-success top-btns">Register</a>
                <a href="/login" th:href="@{/login}" areia-hidden="true" class="btn btn-success top-btns">Login</a>
            </div>


        </div>
    </div>

</section>

    <section class="about-section">

        <div class="flex-container about-area">

            <div class="row about-rows">
                <div class="col-xl-12 col-lg-12">
                    <h1 class="about-header">About The Company</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <h1 class="about-mini-header">What IS Take and Trade?</h1>

                    <p class="about-p">Do you have things laying around your house that you don’t use anymore?
                        Do these things still have use? Would you like to make money off of your items without selling
                        them? You can repurpose and lend out your things using Take and Trade!</br></br>

                        Take and Trade is a social networking and online marketplace that allows members to share and
                        borrow items with fellow neighbors. Take and Trade users can list their items, freely adjust
                        daily borrow fees and time limits, and engage in lending with other users. Users can also leave
                        reviews and message others directly, ensuring open and honest communication with the Take and
                        Trade community as a whole, so you’ll never feel unsure of your lendings or borrows.
                    </p>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <img class="about-img-1" src="../static/images/homepage-images/talking.png" th:src="@{images/homepage-images/talking.png}">
                </div>
            </div>

            <div class="row about-rows">

                <div class="col-xl-6 col-lg-6 hide-on-lg">
                    <h1 class="about-mini-header hide-on-lg">Why should YOU use Take and Trade?</h1>

                    <p class="about-p hide-on-lg">Why let something sit in a storage room or a garage collecting
                        dust when you can make money off of it? Take and Trade is a simple, easy way to monetize
                        your belongings without getting rid of them. Not only is Take and Trade a great way to earn
                        money passively for yourself, but it’s also great for your community, allowing others to have
                        access to things that may not have been accessible by normal means.

                    </p>

                    <div class="col-xl-6 col-lg-6 hide-on-lg">
                        <img class="about-img-2" src="../static/images/homepage-images/user.png" th:src="@{images/homepage-images/user.png}">
                    </div>

                </div>

            <div class="row about-rows">
                <div class="col-xl-6 col-lg-6 hide-on-sm">
                    <img class="about-img-2" src="../static/images/homepage-images/user.png" th:src="@{images/homepage-images/user.png}">
                </div>

                <div class="col-xl-6 col-lg-6">
                    <div class="hide-on-sm">
                    <h1 class="about-mini-header">Why should YOU use Take and Trade?</h1>

                    <p class="about-p">Why let something sit in a storage room or a garage collecting
                        dust when you can make money off of it? Take and Trade is a simple, easy way to monetize
                        your belongings without getting rid of them. Not only is Take and Trade a great way to earn
                        money passively for yourself, but it’s also great for your community, allowing others to have
                        access to things that may not have been accessible by normal means.

                    </p>

                        </div>
                </div>
            </div>

            <div class="row about-rows">
                <div class="col-xl-6 col-lg-6">
                    <h1 class="about-mini-header">OUR Mission</h1>

                    <p class="about-p">Our mission here at Take and Trade is to help people become more
                        connected with their neighborhoods and keep the world a little greener. In past generations,
                        not everybody owned a tent, a specialty tool or a bicycle. These things were commonly lent to
                        trusted neighbors as a regular practice. Take and Trade is hoping to revive this tradition
                        in a modern and digital way, making things more accessible to others. Using Take and Trade
                        will also negate the need for throwing away unwanted items somewhere to rot and encourage
                        recycling, sharing and community engagement.
                    </p>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <img class="about-img-3" src="../static/images/homepage-images/world.png" th:src="@{images/homepage-images/world.png}">
                </div>
            </div>

        </div>

    </section>

<section class="slogan-section">

    <div class="flex-container d-flex justify-content-around">
        <div class="card-deck row">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                <div class="card green">
                    <h5 class="card-title">Share</h5>
                    <div class="card-body">
                        <img class="card-img-top" src="../static/images/homepage-images/share.png" th:src="@{images/homepage-images/share.png}">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
            <div class="card green">
                <h5 class="card-title">Save</h5>
                <div class="card-body">
                    <img class="card-img-top" src="../static/images/homepage-images/save.png" th:src="@{images/homepage-images/save.png}">
                </div>
            </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
            <div class="card green">
                <h5 class="card-title">Sell</h5>
                <div class="card-body">
                    <img class="card-img-top" src="../static/images/homepage-images/sell.png" th:src="@{images/homepage-images/sell.png}">
                </div>
            </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
            <div class="card green">
                <h5 class="card-title">Smile</h5>
                <div class="card-body">
                    <img class="card-img-top" src="../static/images/homepage-images/smile.png" th:src="@{images/homepage-images/smile.png}">
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>



</section>


</div>


<!-- JS Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- Custom JS -->
<script type="text/javascript" th:src="@{/js/homepage.js}"></script>
</body>
</html>