<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="partials::head"></head>
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="https://i.postimg.cc/6590cqH6/a-logo.png">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap" rel="stylesheet">

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="../static/css/form.css" th:href="@{/css/form.css}">
<body>
<nav th:replace="partials :: navbar"/>
</br>
<div class="container form-container-2 w-50 m-auto">

    <h1 class="form-title text-center">Create an account</h1>

    <form class="my-form" th:action="@{/registerform}" th:method="POST" th:object="${user}" enctype="multipart/form-data">
            <div class="form-group">
                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="bg-danger"></span>
                <label th:for="firstName">First Name</label>
                <input th:id="firstName" th:type="text" class="form-control" th:field="*{firstName}"
                       required minlength="1"/>
            </div>
            <div class="form-group">
                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="bg-danger"></span>
                <label th:for="lastName">Last Name</label>
                <input th:id="lastName" th:type="text" class="form-control" th:field="*{lastName}" required minlength="1"/>
            </div>
            <div class="form-group">
                <label th:for="dateOfBirth">Enter Date of Birth</label>
                <input th:id="dateOfBirth" type="date" class="form-control" th:field="*{dateOfBirth}" required/>
            </div>
            <div class="form-group">
                <label th:for="phoneNumber">Enter Phone Number</label>
                <input th:id="phoneNumber" type="text" class="form-control" th:field="*{phoneNumber}" minlength="10" title="numbers only, no dashes or ()" required/>
            </div>
                <div class="form-group">
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="bg-danger"></span>
                    <label th:for="email">Email Address</label>
                    <input th:id="email" type="email" class="form-control" th:field="*{email}" required/>
                </div>
                <div class="form-group">
                    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="bg-danger"></span>
                    <label th:for="username">Username</label>
                    <input th:id="username" type="text" class="form-control" th:field="*{username}" required minlength="4"/>
                </div>
                <div class="form-group">
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="bg-danger"></span>
                    <label th:for="password">Password</label>
                    <input th:id="password" type="password" class="form-control" th:field="*{password}" required minlength="8"/>
                </div>

        <!--** IMAGE **-->
        <div class="form-group">
            <label for="profilepic">Profile Picture</label>
            <input type="file" class="form-control" id="profilepic" name="profilepic" accept="image/png, image/jpeg">
        </div>
        <div><img id="thumbnail" alt="Image Preview" class="invisible" style="max-width: 250px;"></div>

        <div class="form-group border-secondary" id="zipbox">
            <span th:if="${#fields.hasErrors('zipcode')}" th:errors="*{zipcode}" class="bg-danger"></span>
            <label th:for="zipcode">Zipcode</label>
            <input type="text" class="form-control" name="zipcode" id="zipcode" required>
        </div>
        <div class="form-group" id="citybox">
                <label th:for="city">City</label>
                <input th:id="city" th:type="text" class="form-control" th:field="*{city}" required>
            </div>
            <div class="form-group" id="statebox">
                <label th:for="state">State</label>
                <select th:id="state" class="form-control" th:field="*{state}" required>
                    <option value="TX">Texas</option>
                </select>
            </div>
        <div class="col text-center">
        <button type="submit" class="btn btn-success">Register</button>
        </div>
    </form>
</div>

<!-- JS Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#profilepic').change(function() {
            showImageThumbnail(this);
        });

        function showImageThumbnail(fileInput) {
            file = fileInput.files[0];
            reader = new FileReader();
            reader.onload = function(e){
                $('#thumbnail').removeClass('invisible').addClass('visible').attr('src', e.target.result);
            };
            reader.readAsDataURL(file);
        }
        $('#citybox').hide();
        $('#statebox').hide();
        // OnKeyDown Function
        $("#zipcode").keyup(function() {
            var zip_in = $(this);
            var zip_box = $('#zipbox');

            if (zip_in.val().length<5) {
                zip_box.removeClass('error success');
            } else if (zip_in.val() < 78201 || zip_in.val() > 78250){
                zip_box.addClass('bg-danger').removeClass('border-secondary');
                alert("currently serving limited zipcodes within San Antonio, TX, please try again");
            } else if (zip_in.val().length>5) {
                zip_box.addClass('bg-danger').removeClass('border-secondary');
                alert("please enter 5 digits");
            } else if ((zip_in.val().length == 5) ) {
                zip_box.removeClass('bg-danger');

                // Make HTTP Request
                $.ajax({
                    url: "http://api.zippopotam.us/us/" + zip_in.val(),
                    cache: false,
                    dataType: "json",
                    type: "GET",
                    success: function(result, success) {
                        $('#citybox').slideDown();
                        $('#statebox').slideDown();
                        // US Zip Code Records Officially Map to only 1 Primary Location
                        places = result['places'][0];
                        $("#city").val(places['place name']);
                        // $("#state").val('TX');
                        zip_box.addClass('border-success').removeClass('border-danger');
                    },
                    error: function(result, success) {
                        zip_box.removeClass('border-success').addClass('border-danger');
                    }
                });
            }
        });
    });
</script>
</body>
</html>