<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="partials :: head"/>
<body>
<nav th:replace="partials :: navbar"/>
</br>


<div sec:authorize="isAuthenticated()">
    <div th:object="${viewUser}">
        </br>
        <!--        <dev th:object="${#authentication.firstName}">-->
        This content is only shown to authenticated users.
        <h1>Welcome back, </h1>
        <br/>

        User ID: <span th:text="${#authentication.principal.id}"/>
        </br>
        Username: <span th:text="${#authentication.principal.username}"/>
        </br>
        Email: <span th:text="${#authentication.principal.email}"/>
        </br>
        First Name: <span th:text="${#authentication.principal.firstName}"></span>
        </br>
        Last Name: <span th:text="${#authentication.principal.lastName}"></span>
        <p>

            <a href="/userSettings" th:href="@{/userSettings}" class="btn btn-success top-btns">Edit Profile</a>
        </p>
    </div>
</div>

<script th:replace="partials :: scripts"/>
</body>