<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials ::head(pageTitle='Item Index')"></head>

<body>
<nav th:insert="partials :: navbar"></nav>

<h1>Here are all the Items.</h1>
<p>this page is not done. Maybe a table would look better, or cards?</p>
<div class="container mt-4">
    <div th:if="${items.isEmpty()}">
        <p>There are no posts yet. Write one now.</p>
    </div>

    <div class="border border-info m-1 p-1" th:each="item : ${items}">
        <h2><span th:text="${item.itemName}"></span></h2>
        <p>Description: <span th:text="${item.itemDescription}"></span></p>
        <p>Special Instructions: <span th:text="${item.specialInstructions}"></span></p>
        <p>User Zipcode: <span th:text="${item.user.zipCode}"></span></p>
        <p>Condition: <span th:text="${item.itemCondition}"></span></p>
        <p>$<span th:text="${item.price}"></span> per day</p>
        <p>Posted by username: <span th:text="${item.user.username}"></span></p>
        <p>Date posted:<span th:text="${item.datePosted}"></span></p>
        <div><img th:src="@{${item.getImage()}}" /></div>

        <form class="m-1" th:action="@{'/items/' + ${item.id}}" method="GET">
            <button type="submit" name="viewOnePost" th:value="${item.id}">View This Item</button>
        </form>
        <!-- or if we want to use a link instead of button like this <a th:href="@{/posts/{postId}(postId=${post.id})}">View post</a>-->


    </div>
</div>


</body>
</html>