<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials ::head(pageTitle='Make a request')"></head>
<body>
<nav th:insert="partials :: navbar"></nav>
<br>
<div class="container" style="margin-top: 20px;">
    <p>You are requesting to borrow an item.  (~I need to add a many to many relationship between request and item so we can grab the item ~Mary)</p>
    <p>The start date is the date that you would like to get the item, and the return date is the date that you will return the item to the owner.</p>
    <form th:action="@{/items/request-form}" th:method="post" th:object="${request}">
        <div class="form-group">
            <label for="beginDate">Enter the Start Date</label>
            <span th:if="${#fields.hasErrors('beginDate')}" th:errors="*{beginDate}" class="alert alert-danger"></span>
            <input type="date" class="form-control" id="beginDate" name="beginDate">
        </div>
        <div class="form-group">
            <label for="dueDate">Enter the Return Date</label>
            <input type="date" class="form-control" id="dueDate" name="dueDate">
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" id="postId" th:field="*{id}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

</body>
</html>