<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials ::head(pageTitle='Request Submitted!')"></head>
<body>
<nav th:insert="partials :: navbar"></nav>
<br>
<div class="container mb-4">
    <h2>Your request was submitted!</h2>
    <p>The user will see the request and can then message you.</p>
</div>
<p>My Requests</p>
<!--<div>-->
<!--    <p>The request id number is: <span th:text="${viewRequest.id}"></span></p>-->
<!--    <p>You requested to start/pick up the item on: <span th:text="${viewRequest.getBeginDate()}"></span></p>-->
<!--    <p>You requested to return the item to the owner on: <span th:text="${viewRequest.getDueDate()}"></span></p>-->
<!--</div>-->
<!--<div th:each="review : ${producerUser.getWrittenReviews()}">
    <p><span th:text="${review.reviewTitle}"></span></p>
    <p><span th:text="${review.reviewBody}"></span></p>
    <p><span th:text="${review.rating.rating}"></span></p>
</div>-->
<div th:replace="partials :: scripts"></div>
</body>
</html>