<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials ::head(pageTitle='Item Index')"></head>

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap" rel="stylesheet">

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="../static/css/search.css" th:href="@{/css/search.css}">

<body>
<nav th:insert="partials :: navbar-2"></nav>

<section class="top-section">


    <div class="flex-container img-container">
        <div class="row d-flex justify-content-center">

            <div th:if="${search.isEmpty()}">
                <h3 class="my-results">There is no search results.</h3>
            </div>
            <div th:unless="${search.isEmpty()}">
                <h3 class="my-results">We found some matches!</h3>
            </div>

            <div class="col-md-8 img-overlay">
                <form th:action="@{/items/search}" th:method="post" th:object="${search}">
                    <div class="input-group mb-3"> <input type="text" th:name="search" class="form-control input-text" placeholder="Search in your neighborhood...." aria-label="Recipient's username" aria-describedby="basic-addon2">

                        <div class="input-group-append"> <button class="btn btn-success btn-lg">Search</button></div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</section>


<!--    <div th:if="${items.isEmpty()}">-->
<!--        <p>There are no items yet. Post one now.</p>-->
<!--    </div>-->

<section class="card-section">

    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12" th:each="item : ${search}">
            <div class="card text-center">
                <h3 class="card-title"><span th:text="${item.itemName}"></span></h3>
                <img th:src="@{${item.photosImagePath}}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <div class="tag-container">

                        <button th:if="${item.category.name == 'Automotive'}" class="btn cat-btn"><img class="cat-icon" src="https://i.postimg.cc/FKncRqq3/cat-automotive.png"><span class="cat-btn-text" th:text="${item.category.name}"></span></button>
                        <button th:if="${item.category.name == 'Electronics'}" class="btn cat-btn"></span><img class="cat-icon" src="https://i.postimg.cc/nhz679r7/cat-electronics.png"><span class="cat-btn-text" th:text="${item.category.name}"></span></button>
                        <button th:if="${item.category.name == 'Fashion'}" class="btn cat-btn"><img class="cat-icon" src="https://i.postimg.cc/ZnN6Xcw3/cat-fashion.png"><span class="cat-btn-text" th:text="${item.category.name}"></span></button>
                        <button th:if="${item.category.name == 'Home and Garden'}" class="btn cat-btn"><img class="cat-icon" src="https://i.postimg.cc/9M67P9cf/cat-home-and-garden.png"><span class="cat-btn-text" th:text="${item.category.name}"></span></button>
                        <button th:if="${item.category.name == 'Sporting Goods'}" class="btn cat-btn"><img class="cat-icon" src="https://i.postimg.cc/cJcwSC79/cat-sporting-goods.png"><span class="cat-btn-text" th:text="${item.category.name}"></span></button>
                        <button th:if="${item.category.name == 'Toys and Hobbies'}" class="btn cat-btn"><img class="cat-icon" src="https://i.postimg.cc/7YyzfSBs/cat-toys-and-hobbies.png"><span class="cat-btn-text" th:text="${item.category.name}"></span></button>
                        <button th:if="${item.category.name == 'Other'}" class="btn cat-btn"><img class="cat-icon" src="https://i.postimg.cc/1z4nLBtt/cat-other.png"><span class="cat-btn-text" th:text="${item.category.name}"></span></button>


                        <button th:if="${item.itemCondition == 'Excellent'}" class="btn con-btn"><img class="cat-icon" src="https://i.postimg.cc/hvMQk59X/excellent.png"><span class="cat-btn-text" th:text="${item.itemCondition}"></span></button>
                        <button th:if="${item.itemCondition == 'Good'}" class="btn con-btn"><img class="cat-icon" src="https://i.postimg.cc/L6XJqvtV/good.png"><span class="cat-btn-text" th:text="${item.itemCondition}"></span></button>
                        <button th:if="${item.itemCondition == 'Fair'}" class="btn con-btn"><img class="cat-icon" src="https://i.postimg.cc/8zfs45nJ/fair.png"><span class="cat-btn-text" th:text="${item.itemCondition}"></span></button>
                        <button th:if="${item.itemCondition == 'Poor'}" class="btn con-btn"><img class="cat-icon" src="https://i.postimg.cc/wvgv9kxL/poor.png"><span class="cat-btn-text" th:text="${item.itemCondition}"></span></button>


                        <button class="btn zip-btn"><img class="loc-icon" src="https://i.postimg.cc/prQJpCKv/location.png"><span th:text="${item.user.zipcode}"></span></button>
                    </div>
                    <p class="card-text"><span th:text="${item.itemDescription}"></span></p>
                    <p class="card-price">$<span th:text="${#numbers.formatDecimal(item.price, 1, 2, 'POINT')}"></span> per day</p>
                    <form class="m-1" th:action="@{'/items/' + ${item.id}}" method="GET">
                        <button class="btn btn-success" name="viewOnePost" th:value="${item.id}">View Item</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>