<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en-US">
<head th:replace="partials ::head(pageTitle='View One Item')"></head>

<body>
<nav th:insert="partials :: navbar"></nav>

<div class="container mt-4">
    <h2><span th:text="${item.itemName}"></span></h2>
    <p>Description: <span th:text="${item.itemDescription}"></span></p>
    <p>Special Instructions: <span th:text="${item.specialInstructions}"></span></p>
    <p>User Zipcode: <span th:text="${item.user.zipcode}"></span></p>
    <p>Condition: <span th:text="${item.itemCondition}"></span></p>
    <p>$<span th:text="${item.price}"></span> per day</p>
    <p>Posted by username: <span th:text="${item.user.username}"></span></p>
    <p>Date posted:<span th:text="${item.datePosted}"></span></p>
    <!--**IMAGE**-->
    <img th:src="@{${item.photosImagePath}}" style="width: 250px" />

</div>
<script th:insert="partials :: scripts"></script>

</body>
</html>